<!DOCTYPE html>
<html lang="en" xmlns:th="http://w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Floor planer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Link</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-5">
<div th:switch="${floor_coordinates}">
    <h2 th:case="null">No floor coordinates found!</h2>
    <div th:case="*">
        <h2>Coordinates</h2>
        <table  class="table table-hover table-dark">
            <thead>
            <tr>
              <!--  <th scope="col">ID</th>-->
                <th scope="col">Name</th>
                <th scope="col">a1</th>
                <th scope="col">a2</th>
                <th scope="col">a3</th>
                <th scope="col">a4</th>
                <th scope="col">b1</th>
                <th scope="col">b2</th>
                <th scope="col">b3</th>
                <th scope="col">b4</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="floor_coordinates : ${floor_coordinates}">
                   <!-- <td th:text="${floor_coordinates.id}"></td>-->
                    <td th:text="${floor_coordinates.name}"></td>
                    <td th:text="${floor_coordinates.a1}"></td>
                    <td th:text="${floor_coordinates.a2}"></td>
                    <td th:text="${floor_coordinates.a3}"></td>
                    <td th:text="${floor_coordinates.a4}"></td>
                    <td th:text="${floor_coordinates.b1}"></td>
                    <td th:text="${floor_coordinates.b2}"></td>
                    <td th:text="${floor_coordinates.b3}"></td>
                    <td th:text="${floor_coordinates.b4}"></td>
                    <td><a th:href="@{plan_update/{id}(id=${floor_coordinates.id})}" class="btn btn-dark">Edit</a></td>
                    <td><a th:href="@{plan_delete/{id}(id=${floor_coordinates.id})}" class="btn btn-danger">Delete</a></td>
                    <td><a th:href="@{plan_view/{id}(id=${floor_coordinates.id})}" class="btn btn-primary">View Plan</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/floor_plan_create" class="btn btn-primary">Create floor plan</a></p>

</div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>